* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
}
.section {
  max-height: 100vh;
  border: 10px black;
}
.container {
  margin: 0;
  padding: 0 80px;
}
/* header-logo */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: inset 0px -1px 0px rgba(66, 66, 66, 0.4);
}
.logo_nav {
  display: inline-block;
  font-size: 0px;
}
.logo {
  display: inline-block;
  width: 193px;
  height: 40px;
  left: 80px;
  top: 20px;
  background: #c4c4c4;
  border-radius: 21px;
  vertical-align: middle;
}
.nav {
  display: inline-block;
  padding-left: 790px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
  vertical-align: middle;
}

.list-items {
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
}
.link-About-us,
.link-services,
.link-contact {
  padding-left: 40px;
  position: relative;
}

.clear_header {
  clear: both;
}

.image1 {
  vertical-align: middle;
}
.vector-1_image {
  padding-left: 9px;
}

.content_text {
  text-align: center;
  padding-top: 463px;
  padding-bottom: 463px;
}
.hero1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
}
.tooltip-about-us {
  display: none;
  width: 229px;
  position: absolute;
  top: 70px;
  left: 1225px;
  padding: 32px 24px 32px 24px;
  background: #ffffff;
  border: 1px solid rgba(66, 66, 66, 0.4);
  border-radius: 4px;
  z-index: 50px;
}
.link-About-us:hover .tooltip-about-us {
  display: block;
}
.tooltip1 {
  padding: 0;
  margin: 0;
}
.tooltip1 li {
  list-style: none;
}
.tooltip_link1 a,
.tooltip_link2 a,
.tooltip_link3 a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #3a3a3a;
}
.tooltip_link2,
.tooltip_link3 {
  padding-top: 16px;
}
