* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
}
.section {
  max-height: 100vh;
  border: 10px black;
}
.container {
  margin: 0;
  padding: 0 80px;
}
/* ========================header-logo========================= */
.header {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px rgba(66, 66, 66, 0.4);
}
.logo_nav {
  font-size: 0px;
}
.logo {
  display: inline-block;
  margin-top: 20px;
  width: 193px;
  height: 40px;
  left: 80px;
  top: 20px;
  background: #c4c4c4;
  border-radius: 21px;
  vertical-align: middle;
}
.nav {
  float: right;
  vertical-align: middle;
}
.clear-fix {
  clear: both;
}
.list-items {
  display: inline-block;
  padding: 0;
}
.list-items a:hover {
  color: lightcoral;
}
.list-items li {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 25px;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
}
.list-items a {
  text-decoration: none;
  color: #353535;
}
.fas {
  margin-left: 9px;
}
.list-items li {
  margin-left: 40px;
}
.list-items li:first-child {
  margin-left: 0;
}
/* ============tooltip 1 для About============= */
.link_nav.link-about {
  position: relative;
  cursor: pointer;
}
.tooltip-block-1 {
  position: absolute;
  display: none;
  top: 53px;
  left: -46px;
  padding: 32px 24px;
  width: 229px;
  background: #ffffff;
  border: 1px solid rgba(66, 66, 66, 0.4);
  border-radius: 4px;
}
.tooltip-about,
.tooltip-service,
.tooltip-contact {
  padding: 0;
}
.tooltip-about li {
  margin: 0;
  padding: 0;
  font-weight: 600;
  list-style: none;
  font-size: 24px;
  line-height: 29px;
  color: #3a3a3a;
}
.tooltip-block-1 .links-tool-tip {
  margin-top: 16px;
}
.tooltip-block-1 .links-tool-tip:first-child {
  margin: 0;
}
.link_nav.link-about:hover .tooltip-block-1 {
  display: block;
}
/* ========================End tooltip about=================== */

/* ============tooltip 2 для Service============= */
.link_nav.link-service {
  position: relative;
  cursor: pointer;
}
.tooltip-block-2 {
  position: absolute;
  display: none;
  top: 53px;
  left: -46px;
  padding: 32px 24px;
  width: 229px;
  background: #ffffff;
  border: 1px solid rgba(66, 66, 66, 0.4);
  border-radius: 4px;
}

.tooltip-service li {
  margin: 0;
  padding: 0;
  font-weight: 600;
  list-style: none;
  font-size: 24px;
  line-height: 29px;
  color: #3a3a3a;
}
.tooltip-block-2 .links-tool-tip {
  margin-top: 16px;
}
.tooltip-block-2 .links-tool-tip:first-child {
  margin: 0;
}
.link_nav.link-service:hover .tooltip-block-2 {
  display: block;
}
/* ========================End tooltip service=================== */

/* ============tooltip 3 для Contact============= */
.link_nav.link-contact {
  position: relative;
  cursor: pointer;
}
.tooltip-block-3 {
  position: absolute;
  display: none;
  top: 53px;
  left: -50px;
  padding: 32px 24px;
  width: 200px;
  background: #ffffff;
  border: 1px solid rgba(66, 66, 66, 0.4);
  border-radius: 4px;
}

.tooltip-contact li {
  margin: 0;
  padding: 0;
  font-weight: 600;
  list-style: none;
  font-size: 24px;
  line-height: 29px;
  color: #3a3a3a;
}
.tooltip-block-3 .links-tool-tip {
  margin-top: 16px;
}
.tooltip-block-3 .links-tool-tip:first-child {
  margin: 0;
}
.link_nav.link-contact:hover .tooltip-block-3 {
  display: block;
}
/* ========================End tooltip Contact=================== */

/* =============hero 1,2============*/
.content_text{
  text-align: center;
  padding-top: 323px;
  padding-bottom: 463px;
}
.hero1,
.hero2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
}section-our_story
/* ================end hero 1,2=============== */
